<!doctype html>
<html lang="en">

<head>
    <title>Profile</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <!-- VENDOR CSS -->
    <link rel="stylesheet" href="/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/vendor/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/vendor/linearicons/style.css">
    <link rel="stylesheet" href="/vendor/chartist/css/chartist-custom.css">
    <!-- MAIN CSS -->
    <link rel="stylesheet" href="/css/main.css">
    <!-- GOOGLE FONTS -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700" rel="stylesheet">
    <!-- ICONS -->
    <link rel="apple-touch-icon" sizes="76x76" href="/img/apple-icon.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/img/favicon.png">
    <style>
        p.diff-desg {
            margin-top: 6px;
        }
        
        div.row div.gap {
            margin: auto;
            margin-bottom: 2em;
        }
    </style>
</head>

<body>
    <!-- WRAPPER -->
    <div id="wrapper">
        <!-- NAVBAR -->
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="brand">
                <a href="/home">
                    <img src="/img/logo-dark.png" alt="Klorofil Logo" class="img-responsive logo" width="98">
                </a>
            </div>
            <div class="container-fluid">
                <div class="navbar-btn">
                    <button type="button" class="btn-toggle-fullwidth"><i class="lnr lnr-arrow-left-circle"></i></button>
                </div>
                <div id="navbar-menu">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <img src="https://www.microsoft.com/en-us/research/wp-content/themes/microsoft-research-theme/assets/images/svg/icon-people-circle.svg" class="img-circle" alt="Avatar" style="width: 25px; height: 25px; margin: 2px;">
                                <span>{{.FName}}</span>
                                <i class="icon-submenu lnr lnr-chevron-down"></i>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="#"><i class="lnr lnr-user"></i> <span>My Profile</span></a></li>
                                <li><a href="javascript:logout()"><i class="lnr lnr-exit"></i> <span>Logout</span></a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- END NAVBAR -->
        <!-- LEFT SIDEBAR -->
        <div id="sidebar-nav" class="sidebar">
            <div class="sidebar-scroll">
                <nav>
                    <ul class="nav">
                        <li><a href="/home" class="active"><i class="lnr lnr-home"></i> <span>Dashboard</span></a></li>
                        <li>
                            <a href="#subPages" data-toggle="collapse" class="collapsed"><i class="lnr lnr-file-empty"></i> <span>Administration</span> <i class="icon-submenu lnr lnr-chevron-left"></i></a>
                            <div id="subPages" class="collapse ">
                                <ul class="nav">
                                    <li><a href="page-profile.html" class="">Manage Members</a></li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
        <!-- MAIN -->
        <div class="main">
            <!-- MAIN CONTENT -->
            <div class="main-content">
                <div class="container-fluid">
                    <div class="panel panel-profile">
                        <div class="clearfix">
                            <!-- LEFT COLUMN -->
                            <div class="profile-left">
                                <!-- PROFILE HEADER -->
                                <div class="profile-header">
                                    <div class="overlay"></div>
                                    <div class="profile-main">
                                        <img src="https://www.microsoft.com/en-us/research/wp-content/themes/microsoft-research-theme/assets/images/svg/icon-people-circle.svg" class="img-circle" width="150">
                                        <h3 class="name">{{.FName}}&nbsp;{{.LName}}</h3>
                                        <p class="diff-desg">{{.Roles}}</p>
                                    </div>
                                </div>
                                <!-- END PROFILE HEADER -->
                                <!-- PROFILE DETAIL -->
                                <div class="profile-detail">
                                    <div class="profile-info">
                                        <h4 class="heading">Basic Info</h4>
                                        <ul class="list-unstyled list-justify">
                                            <li>ID <span>{{.UID}}</span></li>
                                            <li>Email <span id="email">{{.Email}}</span></li>
                                        </ul>
                                    </div>
                                </div>
                                <!-- END PROFILE DETAIL -->
                            </div>
                            <!-- END LEFT COLUMN -->
                            <!-- RIGHT COLUMN -->
                            <div class="profile-right">
                                <h4 class="heading">Change Password</h4>
                                <div class="tab-content">
                                    <div class="tab-pane fade in active" id="tab-bottom-left2">
                                        <div class="alert" style="display: none;" id="warn">
                                            <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;
											</span>
                                            <p id="warnMessage" align="center"></p>
                                        </div>
                                        <div class="row">
                                            <ul>
                                                <label class="col-md-5">Current Password</label>
                                                <div class="col-md-8">
                                                    <input type="password" id="currentPassword" class="form-control form-control-line" onkeyup="enableButton()">
                                                </div>
                                            </ul>
                                        </div>
                                        <div class="row">
                                            <div class="gap">
                                                <ul>
                                                    <label class="col-md-12">New Password</label>
                                                    <div class="col-md-8">
                                                        <input type="password" id="newPassword" class="form-control form-control-line" onkeyup="enableButton()">
                                                    </div>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="gap">
                                                <ul>
                                                    <label class="col-md-12">Confirm Password</label>
                                                    <div class="col-md-8">
                                                        <input type="password" id="confirmPassword" class="form-control form-control-line" onkeyup="enableButton()">
                                                    </div>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="row" style="margin-top: 25px; margin-left: 85px; margin-bottom: 2em;">
                                            <ul>
                                                <button class="btn btn-primary" disabled="true" id="submit" onclick="submitAction()">Change Password</button>
                                            </ul>
                                        </div>
                                    </div>

                                </div>
                                <!-- END TABBED CONTENT -->
                            </div>
                            <!-- END RIGHT COLUMN -->
                        </div>
                    </div>
                </div>
            </div>
            <!-- END MAIN CONTENT -->
        </div>
    </div>
    <!-- END WRAPPER -->
    <!-- Javascript -->
    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="/vendor/jquery-slimscroll/jquery.slimscroll.min.js"></script>
    <script src="/scripts/klorofil-common.js"></script>
    <script src="/scripts/application.js" type="text/javascript"></script>

    <script type="text/javascript">
        function enableButton() {
            if (!(!document.getElementById("currentPassword").value) &&
                !(!document.getElementById("newPassword").value) &&
                !(!document.getElementById("confirmPassword").value)) {
                document.getElementById("submit").disabled = false;
            } else {
                document.getElementById("submit").disabled = true;
            }
        }
        //Current password check
        function validateCurrentPassword(email, password) {
            //Reading cookie to get webservice hostName
            //var url = "http://localhost:8082/auth/login";
            var url = location.protocol + "//" + location.hostname + "/login";
            var payload = {
                email: email,
                password: password,
                persist: false
            };
            //Form resetPassword Request with sessionToken,newPassword and reset password endpoint
            var request = new XMLHttpRequest();
            request.open("POST", url, false); //sync call 
            request.setRequestHeader("Content-Type", "application/json");
            request.setRequestHeader("Accept", "application/json");
            try{
                request.send(JSON.stringify(payload));
                if (request.status == 200) {
                    return true;
                }else{
                    return false;
                }
            } catch(err) { // instead of onerror
                return false;
            }
        }
        //Reset Password
        function submitAction() {
            var newPwd = document.getElementById("newPassword").value;
            var confPwd = document.getElementById("confirmPassword").value;
            if (newPwd === confPwd) {
                if (!validatePassword(newPwd)) {
                    document.getElementById("warnMessage").innerHTML = "Password has to be more than 6 characters at least";
                    document.getElementById("warn").style.display = "block";
                    return
                }
                //Check the current password
                 var currentPwd = document.getElementById("currentPassword").value;
                 var email = document.getElementById("email").innerHTML;
                 if (!validateCurrentPassword(email, currentPwd)) {
                        document.getElementById("warnMessage").innerHTML = "Current Password is invalid";
                        document.getElementById("warn").style.display = "block";
                        return
                }
                //Reading cookie to get webservice hostName
                var sessionToken = getCookie("session");
                //var url = "http://localhost:8082/auth/reset";
                var url = location.protocol + "//" + location.hostname + "/reset";
                var payload = {
                    password: newPwd
                };
                //Form resetPassword Request with sessionToken,newPassword and reset password endpoint
                var request = new XMLHttpRequest();
                request.onreadystatechange = function() {
                    if (request.readyState == 4) {
                        //handle response
                        if (request.status == 200) {
                            logout();
                            //clear all the cookies and refresh the page
                        } else {
                            //Error message parse to error ui message
                            obj = JSON.parse(request.responseText);
                            document.getElementById("warnMessage").innerHTML = obj.msg;
                            document.getElementById("warn").style.display = "block";
                        }
                    }
                }
                request.open("PUT", url, false);
                request.setRequestHeader("Token", sessionToken);
                request.setRequestHeader("Content-Type", "application/json");
                request.setRequestHeader("Accept", "application/json");
                request.send(JSON.stringify(payload));
            } else {
                document.getElementById("warnMessage").innerHTML = "New and Confirm Password don't match";
                document.getElementById("warn").style.display = "block";
            }
        }
    </script>
</body>

</html>